
 html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }  */

.mat-mdc-text-field-wrapper{
    height: 30px !important;
    padding-left: 5px;
}
/* .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c1205077789-0.mdc-text-field--outlined.mdc-text-field--no-label{
    padding-left: 5px;
} */

.mat-mdc-text-field-wrapper.mdc-text-field{
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
}
/* .mat-mdc-form-field-error-wrapper.ng-tns-c1205077789-0.ng-trigger.ng-trigger-transitionMessages.ng-star-inserted{
    padding-left: 0;
} */
.mat-mdc-form-field-error-wrapper.ng-trigger.ng-trigger-transitionMessages.ng-star-inserted{
    padding-left: 0;
}
.mat-mdc-form-field-error.mat-mdc-form-field-bottom-align.ng-star-inserted{
    font-family: 'Poppins', sans-serif;
}

.mat-mdc-form-field-infix{
    padding-top: 3px !important;
    /* padding-left: 1px; */
}
.mat-mdc-form-field-infix.ng-tns-c1205077789-0{
    /* padding-top: 3px !important; */
    /* padding-left: 1px; */
    height:10px;
}
.mdc-radio__native-control{
    border-radius:2px;
}

.mdc-tab__text-label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/* Drop down text */
.mat-mdc-select-placeholder.mat-mdc-select-min-line.ng-star-inserted{
    font-family: 'Poppins', sans-serif;
}